{% extends 'main/edit/edit.html' %}

{% block form %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper light-blue darken-4">
        <div class="col s12">
            <a href="/{{asthenia.id}}" class="breadcrumb">{{asthenia.onoma}}</a>
            <a href="/{{asthenia.id}}/edit" class="breadcrumb">Edit</a>
            <a href="" class="breadcrumb">Σχολείο</a>
        </div>
        </div>
    </nav>
    </div>
            {% for item in form.forms %}
            <hr>
            {% for hidden_field in item.hidden_fields %}
                {{hidden_field.errors}}
            {% endfor %}
            <table>
            {{item.as_p}}
            </table>
            {% endfor %}
{% endblock %}

{% block extrajs %}
    <script>
    document.querySelectorAll('[for$="-odigia"]').forEach(element=>{ 
    element.innerHTML="Οδηγία";
    });
    </script>
{% endblock %}