{% extends 'base.html' %}


{% block css %}
<style>
    #container,
    html,
    body {
        height: 90%;
    }

    @media (min-width : 1025px) {
        #container{
            margin-left: 35%;
        }
    }
</style>
{% endblock %}

{% block content %}

{% include 'nav.html' %}

<div id="container" class="container valign-wrapper">
<form method="post" >
    {% csrf_token %}
    <div>{{form}}</div>
    <button type="submit" class="btn light-blue darken-4">Συνδεση<i class="left material-icons">lock_open</i></button>
    <a href="/" class="btn waves-effect waves-light light-blue darken-4 right">Ακυρωση<i class="left material-icons">clear</i></a>
</form>

</div>
{% endblock %}

{% block javascript %}
    {% if user.is_authenticated  %}
        <script>
            window.location.replace("../");
        </script>
    {% endif %}
        <script>
            document.querySelectorAll('[for$="id_username"]').forEach(element=>{ 
            element.innerHTML="Όνομα Χρήστη:";
            });
            document.querySelectorAll('[for$="id_password"]').forEach(element=>{ 
            element.innerHTML="Κωδικός:";
            });
        </script>
{% endblock %}